* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
